<ion-header>
    <ion-toolbar>
      <ion-title>
        Payment Schedule
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Get Started</ion-card-title>
          <ion-card-subtitle>Let's link your accounts so we can calculate your payment schedule</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Step 1. Link your accounts</p>
          <p>Step 2. Tell us when you get paid</p>
          <p>Step 3. Now you can view your account estimated account balanace after all minimum payments have been removed</p>
        </ion-card-content>
      </ion-card>

      <!-- TODO: Show Schedule list  -->
      <ion-card *ngIf="accountsLinked">
        Account list
      </ion-card>

      <ion-card *ngIf="!accountsLinked">
        <ion-card-header>
          <ion-card-title>This month's schedule</ion-card-title>
          <!-- <ion-card-subtitle></ion-card-subtitle> -->
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item detail="false">
              <ion-label><strong>Due Date</strong></ion-label>
              <ion-label slot="end"><strong>Source</strong></ion-label>
              <ion-label slot="end"><strong>Amount</strong></ion-label>
            </ion-item>
            <ion-item detail="false">
              <ion-label color="medium">Feb 15</ion-label>
              <ion-label slot="end">Income</ion-label>
              <ion-label slot="end" color="success">+$1000.00</ion-label>
            </ion-item>

            <ion-item detail="false">
              <ion-label color="medium">Feb 15</ion-label>
              <ion-label slot="end">American Express Blue Cash</ion-label>
              <ion-label slot="end" color="danger">-$25.00</ion-label>
            </ion-item>

            <ion-item detail="false">
              <ion-label color="medium">Feb 17</ion-label>
              <ion-label slot="end">Citi Double Cash</ion-label>
              <ion-label slot="end" color="danger">-$23.00</ion-label>
            </ion-item>

            <ion-item detail="false">
                <ion-label color="medium">Feb 18</ion-label>
                <ion-label slot="end">Capital One No Hassle</ion-label>
                <ion-label slot="end" color="danger">-$71.00</ion-label>
            </ion-item>

            <ion-item>
              <ion-label color="medium">Feb 18</ion-label>
              <ion-label slot="end">Chase Sapphire</ion-label>
              <ion-label slot="end" color="danger">-$109.00</ion-label>
            </ion-item>

            <ion-item>
              <ion-label><strong>Total Expenses</strong></ion-label>
              <ion-label slot="end"></ion-label>
              <ion-label slot="end" color="danger">-$228.00</ion-label>
            </ion-item>

            <ion-item>
              <ion-label><strong>Available to spend</strong></ion-label>
              <ion-label slot="end"></ion-label>
              <ion-label slot="end" color="success">${{1000 - 228}}.00</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

  </ion-content>

